.av-container-s-dense {
  padding: av-container(s, dense);
  margin: 0;

  &:p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

.av-container-s-default {
  padding: av-container(s, default);
  margin: 0;

  &:p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

.av-container-s-open {
  padding: av-container(s, open);
  margin: 0;

  &:p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

.av-container-m-dense {
  padding: av-container(m, dense);
  margin: 0;

  &:p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

.av-container-m-default {
  padding: av-container(m, default);
  margin: 0;

  &:p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

.av-container-m-open {
  padding: av-container(m, open);
  margin: 0;

  &:p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

.av-container-l-dense {
  padding: av-container(l, dense);
  margin: 0;

  &:p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

.av-container-l-default {
  padding: av-container(l, default);
  margin: 0;

  &:p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

.av-container-l-open {
  padding: av-container(l, open);
  margin: 0;

  &:p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
